@model MyBlog.Models.SlideImage

@section CurrentPage{
    <i class="fa fa-angle-right"></i>
    <span>Slide ảnh trang chủ</span>
    <i class="fa fa-angle-right"></i>
    <span>Xóa ảnh</span>
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Đường dẫn
            </dt>
    
            <dd>
                <img src="@Model.url" style="max-height:700px;"/>
            </dd>
    
            <dt>
                Tiêu đề
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                Ngày tạo
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
            </div>
        }
    </div>