
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        font-size:15px;
    }
    a{
        color:#0026ff;
    }
</style>
<div class="container" style="margin-top:20px;">
    <img src="@Url.Content("~/Content/images/uu.jpg")" style="width:200px;" class="wow zoomIn" data-wow-duration='1s'/>
    <h2 class="wow slideInLeft" data-wow-duration='1s'>Something about me</h2>
    <div class="wow slideInLeft" data-wow-duration='1s' data-wow-delay="0.5s">
        <p>I'm Duoc Dang, 22-year-old-college man living in Hanoi. </p>
        <p>Military Technical Academy(MTA) where I study at is a beautiful place. It belongs to military, so there're bit different from others in Hanoi</p>
        <p>I'm from Haiphong, Kienan district. My family has 4 members is me, my parents and my little brother </p>
        <p>
            I came to Hanoi 4 years ago, everything was so new to me. There were so many buildings, beautiful parks that was much wider than park in Kienan and the malls. I
            was lost in the light from buildings at night. The life's style there was also different, it's kind of fast, crowded street, traffic jam...
            I'm at first really excited to come to Hanoi, but then time had passed, I missed my home, my family and my girl friend.
            1st year in college I had to stay in dormitory, sometimes I felt so bored that everyday I had to do the same thing, stay in the same building.
            There were so many things happened, bad things that I'd never gone through before then. My girl friend also left, we broke up 1 year ago.
            But I did get through all of it with the helps from my friends, my roomates when we were freshmans. We're now still close, we've traveled a lot of beautiful places together, visit each other's home
            I can not say that my life is so good, but I can assure that it's not so bad. I did feel lonely sometimes, but I think it's fine
        </p>
    </div>
        <h2 class="wow slideInLeft" data-wow-duration='1s'>To contact</h2>
        <ul class="list-unstyled wow slideInLeft" data-wow-duration='1s'>
            <li><p>Full name: Minh Duoc Dang</p></li>
            <li><p>Nick name: Ted Mosby</p></li>
            <li><p>Line address: 80th Tang Thiet Giap street, Co Nhue, Tu liem, Hanoi</p></li>
            <li><p>Phone number: +841638004227</p></li>
            <li><p>Hobbies: Singing, listening to music, watching movies, chatting with friends, playing dota 2</p></li>
        </ul>
    
        <h2 class="wow slideInLeft" data-wow-duration='1s' data-wow-delay="1s">Why I wrote this blog?</h2>
    <div class="wow slideInLeft" data-wow-duration='1s' data-wow-delay="1s">
        <p>I'm wrote this blog for sharing my things, sad and happy stuff I wrote them down. Like I said above, since I got to Hanoi, I'd changed a lot. I've learnt to be calm and be cool with challenges at first and write them down here later</p>
        <p>This blog contents details of my trips with my friends that includes so many nice pictures. And my thinking whenever I got stuck</p>
        <p>Another reason is for my course of learning how to write a website and this is my first one</p>
    </div>
    
        <h2 class="wow slideInLeft" data-wow-duration='1s' data-wow-delay="1s">Is there anything more?</h2>
    <div class="wow slideInLeft" data-wow-duration='1s' data-wow-delay="1s">
        <p>Besides this blog, I have a chanel on youtube that has clips I recorded. You can find out more by visiting my chanel <a href="https://www.youtube.com/channel/UCNJ7FkAmUgIDDa_DDTztkCw" target="_blank">here</a></p>
        <p>And I also have a place that includes all my photos. <a href="https://www.flickr.com/photos/142347035@N05/albums" target="_blank">Here</a></p>
    </div>
     </div>
@section style{
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Content/wow.min.js"></script>
    <script>
 new WOW().init();
    </script>
}